{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{# ajusta a variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% set foto = result[0].foto if result else '' %}

{% block content %}
<section class="content">
	<form name="{{ 'formEditar' if result else 'formAdicionar' }}"
		id="{{ 'formEditar' if result else 'formAdicionar' }}" method="POST" enctype="multipart/form-data">
		<h1>Produto</h1>

		<div class="mb-3">
			<label class="form-label" for="id">Código</label>
			<input class="form-control" class="form-control" type="text" name="id" id="id" value="{{ id }}"
				placeholder="Código" readonly>
		</div>

		<div class="mb-3">
			<label class="form-label" for="nome">Nome Produto</label>
			<input class="form-control" type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Nome Produto"
				maxlength="100" autofocus required>
		</div>

		<div class="mb-3">
			<label for="valor_unitario">Valor:</label>
			<input class="form-control" type="number" name="valor_unitario" id="valor_unitario"
				value="{{ valor_unitario }}">
		</div>

		<div class="mb-3">
			<label class="form-label" for="descricao">Descrição</label>
			<textarea class="form-control" type="text" name="descricao" id="descricao"
				placeholder="Descrição" maxlength="200" required>{{ descricao }}</textarea>
		</div>

		<div class="mb-3">
			<label class="form-label" for="foto" class="form-label">Foto</label>
			<input class="form-control" type="file" name="foto" accept="image/*" id="foto">
		</div>

		<div class="mb-3 text-end">
			<button class="btn btn-success" type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i
					class='fas fa-save'></i> Salvar</button>
		</div>
	</form>
</section>
{% endblock %}

{% block script %}
<script>
	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // Pega a URL da barra de endereço

	// JS-Ajax para adicionar
	$('#formAdicionar').submit(function (e) {
		e.preventDefault(); // Parar o envio para poder fazer manualmente
		var form = $('#formAdicionar')[0]; // Captura o formulário
		var data = new FormData(form); // Cria o FormData {Object}

		$.ajax({
			type: "POST",
			enctype: 'multipart/form-data',
			url: "{{url_for('produto.insert')}}",
			data: data,
			processData: false, // Impedir que o jQuery transforme a "data" em querystring
			contentType: false, // Desabilitar o cabeçalho "Content-Type"
			cache: false, // Desabilitar o "cache"
			timeout: 600000, // Definir um tempo limite (opcional)

			// Manipular o retorno da requisição
			success: function (data) {
				if (!data.erro) {
					Swal.fire({
						title: '',
						text: 'ID' + data.msg.id + ', ' + data.msg.msg,
						icon: 'success',
						showCancelButton: false,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'OK'
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
						}
					});
				} else {
					Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
				}
			},

			// Manipular erros da requisição
			error: function (e) {
				console.log(e);
			}
		}); // Fim execução ajax
	}); // Fim função evento submit

	// JS-Ajax para editar
	$('#formEditar').submit(function (e) {
		e.preventDefault(); // parar o envio para poder fazer manualmente
		var form = $('#formEditar')[0]; // captura o form
		var data = new FormData(form); // cria o FormData {Object}
		// caso queira adicionar campos extras ao FormData
		// data.append("customfield", "Este é um campo extra para teste");
		$.ajax({
			type: "POST", enctype: 'multipart/form-data', url: "{{url_for('produto.edit')}}", data: data,
			processData: false, // impedir que o jQuery tranforma a "data" em querystring
			contentType: false, // desabilitar o cabeçalho "Content-Type"
			cache: false, // desabilitar o "cache"
			timeout: 600000, // definir um tempo limite (opcional)
			// manipular o retorno da requisição
			success: function (data) {
				if (!data.erro) {
					Swal.fire({
						title: '',
						text: 'ID' + data.msg.id + ', ' + data.msg.msg, icon: 'success', showCancelButton: false, confirmButtonColor: '#3085d6',

						cancelButtonColor: '#d33', confirmButtonText: 'OK'
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
						}
					})
				}
				else {
					Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
				}
			},
			// manipular erros da requisição
			error: function (e) {
				console.log(e);
			}
		})
	})
</script>
{% endblock %}