{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<section class="content">
	<form name="formAdicionar" id="formAdicionar" action="" method="POST">
		<h1>Cliente</h1>

		<div class="mb-3">
			<label class="form-label" for="id">Código</label>
			<input class="form-control" class="form-control" type="text" name="id" id="id" value="" placeholder="Código" readonly>
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="nome">Nome Cliente</label>
			<input class="form-control" type="text" name="nome" id="nome" value="" placeholder="Nome Cliente" maxlength="100" autofocus required>
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="cpf">CPF</label>
			<input class="form-control" type="text" name="cpf" id="cpf" value="" placeholder="CPF" maxlength="14" oninput="mascaraCpf(this)" required>
		</div>
		
		<div class="mb-3">
			<label class="form-label" for="telefone" class="form-label">Telefone</label>
			<input class="form-control" type="tel" name="telefone" id="telefone" value="" placeholder="Telefone" maxlength="15" oninput="mascaraTelefone(this)" required>
		</div>
		
		<div class="mb-3 text-end">
			<button class="btn btn-success" type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
		</div>
	</form>
</section>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}