{% extends "base.html" %}

{% block title %}Funcionários{% endblock %}

{% block content %}
<section class="content">
	<form action="{{ url_for('funcionario.formFuncionario') }}" method="GET">
		<h1>Funcionários</h1>
		<div class="text-end my-4">
			<button class="btn btn-outline-secondary" type="submit" name="formNovo">Novo Funcionário</button>
		</div>
	</form>
	<table class="table text-center">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Matricula</th>
				<th scope="col">CPF</th>
				<th scope="col">Telefone</th>
				<th scope="col">Grupo</th>
				<th scope="col">Senha</th>
				<th scope="col">Editar</th>
				<th scope="col">Deletar</th>
			</tr>
		</thead>

		<tbody>
			{% if result %}
			{% for row in result %}
			<tr>
				<th scope="row"> {{ row['id_funcionario'] }} </th>
				<td> {{ row['nome'] }} </td>
				<td> {{ row['matricula'] }} </td>
				<td> {{ row['cpf'] }} </td>
				<td> {{ row['telefone'] }} </td>
				<td> {{ row['grupo'] }} </td>
				<td> {{ row['senha'] }} </td>
				<td><i class="fas fa-edit"></i></td>
				<td><i class='fas fa-trash'></i></td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</section>
{% endblock %}

{% block script %}

{% endblock %}